/* 
 * 루트 요소 스타일
 * 최대 너비를 설정하고 콘텐츠를 수평으로 중앙 정렬
 * 콘텐츠 주변에 패딩 적용
 * 텍스트 정렬은 주석 처리되어 있지만 필요시 주석 해제하여 중앙 정렬 가능
 */

#root {
	margin: 0 auto;
	padding: 1rem;
	background-color: #242424;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
	box-sizing: border-box;
}

/* ul 태그를 사용했을때 생기는 기호색을 흰색으로 변경 */
ul li::marker {
	color: white; /* 기호 색상을 흰색으로 변경 */
}

/* 프로젝트 간략히 적으려는 블럭 */
.explanation_Card {
	display: flex;
	flex-wrap: wrap;
	/* padding: 10px; */
	/* background-color: gray; */
}

/* 프로젝트 간략히 적으려는 블럭 안의 설정 */
.explanation {
	justify-items: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #333333;
	width: 40%;
	min-height: 1%;
	margin: 10px;
	padding: 20px;
	overflow: auto;
}

/* 인용문 스타일 */
.quote {
	padding: 10px;
	border-left: 4px solid #ccc;
	margin: 2px 0;
	font-size: 0.8em;
	color: #e2e2e2;
}

/* 표 스타일링 */
.table {
	width: 80%;
	border-collapse: collapse;
	text-align: center;
}

.table th,
.table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.table th {
	background-color: #737368;
}

/* .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
} */
